*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.tabslide{
	margin: auto;
	width: 90%;
	height: auto;
}

.tabslide img{
        height: 200px;
	width: auto;
}

.tabslide2{
        margin: auto;
        width: 90%;
        height: auto;
}

.tabslide2 img{
        height: 200px;
        width: auto;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before{
	color: #000;
}
